body {
 font-size: 15px;
}

.pt-custom {
  padding-top: 90px;
}

@media (min-width: 1200px) { /* This corresponds to Bootstrap's 'lg' breakpoint */
  .px-lg-custom {
    padding-left: 150px;
    padding-right: 300px;
  }
}

.student-profiles .student-profile img {
    width: 150px;
}

