---
layout: default
title: Publications
---

{% for section in site.data.pubs %}
<div id="{{ section.section | slugify }}" class="custom-section">
	<h4 class="custom-section-header">{{ section.section }}</h4>
	<ol>
	{% for paper in section.papers %}
	<li class="custom-item">
		<a href="{{ paper.url }}">{{ paper.title }}</a>.
		<small>{{ paper.authors }}.
		{% if paper.venue %}
			{{ paper.venue }}.
		{% endif %}
		{% if paper.notes %}
			{{ paper.notes }}.
		{% endif %}
		</small>
	</li>
	{% endfor %}
	</ol>
</div>
{% endfor %}

