---
layout: default
title: Students
---

<style>
.student-profiles .student-profile img {
    width: 150px;
}
</style>

{% for section in site.data.students %}
    <div id="{{ section.section | slugify }}" class="custom-section">
        <h4 class="custom-section-header">{{ section.section }}</h4>
        <div class="row student-profiles">
            {% for profile in section.profiles %}
                <div class="col-md-4 col-sm-6 col-6 mb-4">
                    <div class="student-profile d-flex flex-column align-items-center">
                        <img src="{{ profile.image }}" class="img-fluid mb-2" alt="{{ profile.name }}">
                        <a href="{{ profile.url }}">{{ profile.name }}</a>
                        {% if profile.coadvisor %}
                            <small>co-advised by <a href="{{ profile.coadvisor_url }}">{{ profile.coadvisor }}</a></small>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endfor %}
