<footer class="site-footer">

<hr width="100%">

  <!--
  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="container-fluid"><div class="row">
      <div class="col-md-4">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="col-md-8">
        <small>{{ site.description }}</small>
      </div>
    </div></div>

  </div>
  -->

</footer>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{{ site.baseurl }}/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

